@charset "utf-8";
/* CSS Document */
#wrapper {
	margin:0 auto;
	width:980px;
	background-color:#fff;
		background-image:url(../images/nen.png);
	background-size:cover;
}
@font-face {
    font-family: 'myFont';
	src:url(font/tahoma.ttf);
}

p.addFont {
    font-family: 'myFont';
}
body {
	font-size:13px;
	font-family:'myFont';
	background-image:url(../images/nen.png);
	background-size:cover;
}
.dangnhap {
	background-color:#0594d2;
	width:90px;
	height:25px;
	float:right;
	margin-bottom:5px;
	border:1px solid #FFF;
}
.dangnhap p {
	text-align:center;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	margin-top:3px;
}
.giohang {
	background-color:#0594d2;
	width:90px;
	height:25px;
	float:right;
	margin-bottom:5px;
	border:1px solid #FFF;
}
.giohang p {
	text-align:center;
	font-weight:bold;
	color:#fff;
	font-size:14px;
	margin-top:3px;
}
a {
	text-decoration:blink;
}

#header {
	width:980px;
	height:160px;
}
#menu_tab {
	background-color:#04648e;
	height:40px;
	width:980px;
}
#menu_tab ul {
	float:left;
	width: 980px;
	margin: 0;
	padding: 5px 0 0 0;
	list-style:none;
}
#menu_tab ul li {
	display: inline;
}
#menu_tab ul li a {
	float: left;
	width: 90px;
	padding: 5px 0;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	border-right: 1px solid #666;
}
#menu_tab a:hover {
	color:#57abdb;
}
#content {
	margin-top:5px;
}
#content_left {
	width:685px;
	float:left;
	background-color:#fff;
}
.titleleft {
	width:685px;
	background-color:#0594d2;
	float:left;
	height:32px;
}
.titleleft p {
	margin-top:7px;
	margin-left:7px;
	color:#FFF;
	font-weight:bold;
}
.boxleft {
	width:683px;
	border:1px solid #6ac0e5;
	float:left;
	margin-bottom:5px;

}
.boxleft p {
	color:#0594d2;
}
.boxanh {
		border:1px solid #6ac0e5;
		width:213px;
		float:left;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		margin-top:10px;
		margin-left:9px;
		margin-bottom:8px;
}
.boxanh h4{
	text-align:center;
	color:#0594d2;
}	
.boxanh a{
	text-decoration:blink;
}
.boxanh img {
	margin-top:5px;
	margin-left:20px;
}	
.gia {
	float:left;
	width:106px;
}
.gia p {
	margin-left:5px;
}
.muahang {
	float:right;
	width:106px;
}
.muahang p {
	margin-left:35px;
	font-weight:bold;
}
#content_right {
	width:287px;
	float:right;
}
.titleright {
	width:287px;
	height:32px;
	background-color:#0594d2;
	float:right;
}
.titleright p {
	margin-top:7px;
	margin-left:7px;
	color:#FFF;
	font-weight:bold;
}
.boxright1 {
	width:287px;
	height:262px;
	background-color:#6ac0e5;
	margin-bottom:5px;
}
.spnoibat {
	height:45px;
	border-bottom:1px dotted #FFF;
	width:287px;
	float:right;
}
.spnoibat a {
	text-decoration:none;
}
.spnoibat p{
	margin-top:12px;
	margin-left:25px;
	color:#FFF;
}
.hotro {
	width:287px;
	height:170px;
	background-color:#6ac0e5;
	float:right;
}
.hotro p {
	color:#FFF;
	text-align:center;
}
.clear {
	clear:both;
}
.boxright {
	width:685px;
	background-color:#669999;
	height:243px;
	float:left;
}
#footer {
	background-color:#0594d2;
	color:#fff;
	text-align:center;
	line-height:1;
}




